.collapsible {
	transition: 0.15s;
}

.collapsible:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: '\2212';
}

.content {
	transition: max-height 0.2s ease-out;
}
